{%  extends "food/base.html" %}
{% block content %}
<h2>About Our Project</h2>
<p>We have embarked on a mission to solve a real-life problem using the power of Artificial Intelligence. In particular, we've harnessed Microsoft Azure's Cognitive Services to bring our solution to life.</p>
<p>Focusing on the Vision service to bring our solution to life We've also leveraged Azure's various technologies to build a robust and efficient solution.</p>
<p>We've developed a web application using Python and Django, and we store our data in an Azure SQL database.</p>
<p>All of our project's code and resources are open-source and available on GitHub for anyone interested in our journey or looking to build upon our work.</p>
<p>This project is a collaborative effort by two dedicated individuals: Mahmut Can Çalyan and Mert Yurdakonar. We are passionate about leveraging technology for practical solutions and are proud to share our work with you.</p>
{% endblock content %}

