{% extends "food/base.html" %}
{% block content %}
<h1>Welcome to Food Controller!</h1>
<p>We're your digital fruit detective! Our database contains images of a variety of fruits, including bananas, cucumbers, grapes, kaki, papaya, peaches, pears, peppers, strawberries, tomatoes, and watermelons.</p>
<p>But we're not just about pretty pictures. Using Microsoft's Custom Vision AI, we can tell if these fruits are fresh or rotten.</p>
<p>Ready to give it a try? Register, log in, and upload images for prediction results. It's quick, easy, and could save your next fruit salad!</p>
{% endblock content %}
